<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>gr.kree.rdio-iChat</string>
  <key>ProgramArguments</key>
  <array>
    <string>./bin/python</string>
    <string>./rdio-ichat/rdio-ichat.py</string>
    <string>kreeger</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Users/bkreeger/Developer/kreeger/rdio-ichat</string>
  <key>StartInterval</key>
  <integer>180</integer>
  <key>OnDemand</key>
  <true/>
</dict>
</plist>
